[ req ]
default_bits            = 2048
default_md              = sha256
encrypt_key             = no
prompt                  = no
string_mask             = utf8only
distinguished_name      = client1_distinguished_name
req_extensions          = req_cert_extensions

[ client1_distinguished_name ]
countryName             = US
stateOrProvinceName     = NH
localityName            = Wolfeboro
organizationName        = Python Software Foundation
commonName              = dstufft

[ req_cert_extensions ]
nsCertType              = client
